<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
          <string>14000 MYA </string>
          <string>BIG BANG : Formation of the Universe</string>
          <string>The Big Bang theory is the prevailing cosmological model for the earliest known periods of the universe and its subsequent large-scale evolution. It states that the Universe was in a very high density state and then expanded. Modern measurements place this moment at approximately 13.8 billion years ago, which is thus considered the age of the universe. After the initial expansion, the Universe cooled sufficiently to allow the formation of subatomic particles, and later simple atoms.</string>
    </array>
    <array>
          <string>4600 MYA </string>
          <string>FORMATION OF EARTH</string>
          <string>Earth formed approximately 4.54 billion years ago by accretion from the solar nebula, and life appeared on its surface within one billion years. Earth&apos;s biosphere has significantly altered the atmosphere and other abiotic conditions on the planet, enabling the proliferation of aerobic organisms as well as the formation of the ozone layer which, together with Earth&apos;s magnetic field, blocks harmful solar radiation, permitting life on land. The physical properties of the Earth, have allowed life to persist during this period.</string>
    </array>
    <array>
          <string>541 MYA  </string>
          <string>CAMBRIAN : Explosion of Life on Earth</string>
          <string>The Cambrian is the first geological period of the Paleozoic Era, lasting from 541 to 485 million years ago (mya) and is succeeded by the Ordovician. Its subdivisions, and indeed its base, are somewhat in flux. The Cambrian is unique in its unusually high proportion of lagerstätten. These are sites of exceptional preservation, where &apos;soft&apos; parts of organisms are preserved as well as their more resistant shells. Prior to the Cambrian, living organisms on the whole were unicellular and simple.</string>
    </array>
    <array>
          <string>299 MYA  </string>
          <string>PERMIAN : Largest Mass Extinction</string>
          <string>The Permian is a geologic period and system which extends from 299 to 252 million years ago. It is the last period of the Paleozoic Era.The Permian witnessed the diversification of the early amniotes into the ancestral groups of the mammals, turtles, lepidosaurs and archosaurs. Reptiles, who could better cope with these drier conditions, rose to dominance .The Permian Period ended with the largest mass extinction in Earth&apos;s history, in which nearly 90% of marine species and 70% of terrestrial species died out.</string>
    </array>
    <array>
          <string>252 MYA  </string>
          <string>MESOZOIC : Age of Dinosaurs</string>
          <string>The Mesozoic era is an interval of geological time from about 252 to 66 million years ago. Mesozoic means &quot;middle life&quot;, deriving from the Greek prefix meso for &quot;between&quot; and zöon meaning &quot;animal&quot; or &quot;living being&quot;. It is one of three geologic eras of the Phanerozoic Eon, preceded by the Paleozoic (&quot;ancient life&quot;) and succeeded by the Cenozoic (&quot;new life&quot;). The era is subdivided into three major periods: the Triassic, Jurassic, and Cretaceous, which are further subdivided into a number of epochs and stages....</string>
    </array>
    <array>
          <string>66 MYA </string>
          <string>CENOZOIC : Age of Mammals</string>
          <string>The Cenozoic Era, meaning &quot;new life&quot;, is the current and most recent of the three Phanerozoic geological eras covering the period from 66 million years ago to the present. The Cenozoic is also known as the Age of Mammals, because the extinction of many groups allowed mammals to greatly diversify. From a geological perspective, it did not take long for mammals and birds to greatly diversify in the absence of the large reptiles that had dominated during the Mesozoic. Mammals came to occupy almost every available niche.</string>
    </array>
    <array>
          <string>5 MYA  </string>
          <string>STONE AGE : The Human Era</string>
          <string>The first species of the genus Homo, evolved in South and East Africa in the late Pliocene or early Pleistocene (2 - 2.5 million years before present) when it diverged from the Australopithecines (Australopithecines and Hominenes are collectively referred to as Hominids). The Stone Age is that ancient time period during which, humans created tools from stone wood, bones and other materials would also be used, but stone (in particular flint) was shaped for use as cutting tools and weapons. </string>
    </array>
    <array>
          <string>108000 BC  </string>
          <string>ICE AGE : Extintion of Large Mammals</string>
          <string>The Ice Age, was the most recent glacial period within the current ice age occurring during the last years of the Pleistocene, from approximately 110,000 to 12,000 years ago. When the glaciation event started, Homo sapiens was confined to Africa and used tools comparable to those used by Neanderthals in Europe and the Levant and by Homo erectus in Asia. Near the end of the event, Homo sapiens spread into Europe, Asia, and Australia. The retreat of the glaciers allowed groups of Asians to migrate to the Americas and populate them.</string>
    </array>
    <array>
          <string>10200 BC  </string>
          <string>NEOLITHIC : First Permanent Settlements</string>
          <string>The Neolithic Era was a period in the development of human technology, beginning about 10,200 BC ending between 4,500 and 2,000 BC. Traditionally considered the last part of the Stone Age, the Neolithic commenced with the beginning of farming, which produced the &quot;Neolithic Revolution&quot;. It ended when metal tools became widespread. The Neolithic is a progression of behavioral and cultural characteristics and changes, including the use of wild and domestic crops and of domesticated animals.</string>
    </array>
    <array>
          <string>3300 BC  </string>
          <string>BRONZE AGE : First Writing</string>
          <string>The Bronze Age is a time period characterized by the use of bronze, proto-writing, and other early features of urban civilization. An ancient civilization is defined to be in the Bronze Age either by smelting its own copper and alloying with tin, or by trading for bronze from production areas elsewhere. Worldwide, the Bronze Age generally followed the Neolithic period. According to archaeological evidence, cultures in Mesopotamia (cuneiform) and Egypt (hieroglyphs) developed the earliest viable writing systems.</string>
    </array>
    <array>
          <string>1200 BC  </string>
          <string>IRON AGE : The Trojan War</string>
          <string>The Iron Age early period of the age is characterized by the widespread use of iron or steel. In historical archaeology, the ancient literature of the Iron Age includes the earliest texts preserved in manuscript tradition. Sanskrit and Chinese literature flourished in the Iron Age. Other texts include the Avestan Gathas, the Indian Vedas and the oldest parts of the Hebrew Bible. The principal feature that distinguishes the Iron Age from the preceding ages is the introduction of alphabetic characters.</string>
    </array>
    <array>
          <string>323 BC </string>
          <string>HELLENISTIC PERIOD : Ancient Greek</string>
          <string>The Hellenistic period is the period of ancient Greek and eastern Mediterranean history between the death of Alexander the Great in 323 BC and the emergence of the Roman Empire as signified by the Battle of Actium in 31 BC and the subsequent conquest of Ptolemaic Egypt in 30 BC. At this time, Greek cultural influence and power was at its peak in Europe, Africa and Asia, experiencing prosperity and progress in the arts, exploration, literature, theatre, architecture, music, mathematics, philosophy, and science.</string>
    </array>
    <array>
          <string>31 BC  </string>
          <string>ROMAN PERIOD : Roman Emperors</string>
          <string>The Roman Empire was the post-Republican period of the ancient Roman civilisation, characterised by an autocratic form of government, headed by an Emperor, and large territorial holdings around the Mediterranean Sea in Europe, Africa, the Middle East and Asia Minor. Julius Caesar&apos;s appointment as perpetual dictator in 44 BC after his victory over Pompey resulted in his assassination, triggering a power vacuum that led to a succession of conflicts between supporters of Caesar and the Senate.</string>
    </array>
    <array>
          <string>330  </string>
          <string>BYZANTINE PERIOD : Eastern Roman Empire</string>
          <string>The Byzantine Empire was the predominantly Greek-speaking continuation of the eastern half of the Roman Empire during Late Antiquity and the Middle Ages. Its capital city was Constantinople (modern-day Istanbul), originally known as Byzantium. Often called the Eastern Roman Empire in this context, it survived the 5th century fragmentation and fall of the Western Roman Empire and continued to exist for an additional thousand years until it fell to the Ottoman Turks in 1453. The empire was the most powerful force in Europe.</string>
    </array>
    <array>
          <string>476  </string>
          <string>MIDDLE AGES : Rise of Western Monarchies</string>
          <string>The Middle Ages was the middle period in a schematic division of European history into three &apos;ages&apos;: Classical civilization, the Middle Ages, and Modern Civilization. It is commonly considered as having lasted from the end of the Western Roman Empire (5th century) until the rise of national monarchies and the beginnings of demographic and economic renewal after the Black Death, European overseas exploration and the cultural revival known as the Renaissance around the 15th century.</string>
    </array>
    <array>
          <string>1350 </string>
          <string>RENAISSANCE : Beginning of the Modern Age</string>
          <string>The Renaissance was a cultural movement that spanned the period from the 14th to the 17th century, beginning in Italy in the Late Middle Ages and later spreading to the rest of Europe. As a cultural movement, it encompassed innovative flowering of Latin and vernacular literatures, beginning with the 14th-century resurgence of learning based on classical sources. The Renaissance  is best known for its artistic developments and the contributions of such polymaths as Leonardo da Vinci and Michelangelo.</string>
    </array>
    <array>
          <string>1517 </string>
          <string>REFORMATION : Protestants vs The Catholic Church</string>
          <string>The Protestant Reformation was the schism within Western Christianity initiated by Martin Luther, John Calvin, and other early Protestants. The date usually given for the start of the Protestant Reformation is 1517, when Luther published The Ninety-Five Theses, and for its conclusion in 1648 with the Peace of Westphalia that ended the European wars of religion. Luther started by criticising the practice of selling indulgences, but the debate widened until it touched on many of the doctrines and practices of the Catholic Church.</string>
    </array>
    <array>
          <string>1600 </string>
          <string>ENLIGHTENMENT : The Age of Reason and Science</string>
          <string>The Age of Enlightenment was an intellectual movement in 18th-century Europe. The goal of the Enlightenment was to establish an authoritative ethics, aesthetics, and knowledge based on rationality. The movement&apos;s leaders viewed themselves as an elite body of intellectuals who were leading the world toward progress, out of a long period of irrationality, superstition, and tyranny which began during the Dark Ages. This movement provided a framework for the American and French Revolutions, as well as the rise of capitalism and the birth of socialism. It is matched by the high baroque era in music, and the neo-classical period in the arts. </string>
    </array>
    <array>
          <string>1750 </string>
          <string>INDUSTRIAL REVOLUTION : Technological Innovations</string>
          <string>The Industrial Revolution was a period of the 18th century marked by social and technological change in which manufacturing began to rely on steam power, fueled primarily by coal; and by a shift from artisans who made complete products to factories in which each worker completed a single stage in the manufacturing process. Improvements in transportation encouraged the rapid pace of change. It began in the English Midlands and spread throughout England and into Europe and the United States in the 19th century.</string>
    </array>
    <array>
          <string>1900 </string>
          <string>20th CENTURY : Age of Globalization</string>
          <string>The 20th century was dominated by a chain of events that heralded significant changes in world history as to redefine the era: World War I and World War II, nuclear power and space exploration, nationalism and decolonization, the Cold War and post-Cold War conflicts; intergovernmental organizations and cultural homogenization through developments in emerging transportation and communications technology; poverty reduction and world population growth, environmental degradation; and the birth of the Digital Revolution.</string>
    </array>
</array>
</plist>