<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
          <string>400000 BC</string>
          <string>Control of Fire by Early Humans</string>
          <string>The control of fire by early humans was a turning point in the cultural aspect of human evolution that allowed humans to cook food and obtain warmth and protection. </string>
    </array>
    <array>
          <string>3500 BC</string>
          <string>Invention of the Wheel</string>
          <string>Evidence of wheeled vehicles appears from the second half of the 4th millennium BC, near-simultaneously in Mesopotamia (Sumerian civilization), the Northern Caucasus (Maykop culture) and Central Europes.</string>
    </array>
    <array>
          <string>3400 BC</string>
          <string>Cuneiform Script, Earliest Writing System</string>
          <string>Cuneiform script is the earliest known writing system in the world. Cuneiform writing emerged in the Sumerian civilization of southern Iraq around the 34th century BC</string>
    </array>
    <array>
          <string>3114 BC</string>
          <string>Mesoamerican Long Count Calendar</string>
          <string>The Mesoamerican Long Count calendar is a non-repeating, vigesimal (base-20) and base-18 calendar used by several Pre-Columbian Mesoamerican cultures, most notably the Maya.</string>
    </array>
    <array>
          <string>2000 BC</string>
          <string>The Phoenician Alphabet</string>
          <string>The Phoenician alphabet, called by convention the Proto-Canaanite alphabet for inscriptions older than around 1050 BC, is the oldest verified alphabet.</string>
    </array>
    <array>
          <string>45 BC</string>
          <string>The Julian Calendar</string>
          <string>The Julian calendar was introduced by Julius Caesar in 45 BC. It was in common use until the 1500s, when countries started changing to the Gregorian Calendar. </string>
    </array>
    <array>
          <string>10 - 70</string>
          <string>Heron of Alexandria, Inventor Steam Engine</string>
          <string>Heron of Alexandria was an ancient Greek mathematician. Among his most famous inventions were the first documented steam-powered device, the aeolipile, and a windwheel.</string>
    </array>
    <array>
          <string>476 - 550</string>
          <string>Aryabhata, Inventor of the Digit Zero</string>
          <string>Aryabhata is the first of the great astronomers of the classical age of India. He was born in 476 AD. Aryabhata gave the world the digit &quot;0&quot; (zero) for which he became immortal. </string>
    </array>
    <array>
          <string>800</string>
          <string>Invention of Gunpowder</string>
          <string>Gunpowder, reportedly produced from saltpetre, sulphur and charcoal, is a Chinese invention. Earliest records of the formula date to the 800s. </string>
    </array>
    <array>
          <string>991 - 1033</string>
          <string>Guido d&apos;Arezzo, Iventor Musical Notation</string>
          <string>Guido of Arezzo (991/992 – after 1033) was a music theorist of the Medieval era. He is regarded as the inventor of modern musical notation</string>
    </array>
    <array>
          <string>1170 - 1250</string>
          <string>Fibonacci, Hindu-Arabic Numeral System</string>
          <string>Leonardo Pisano Bigollo or simply Fibonacci, was an Italian mathematician. Fibonacci is best known to the modern world for the spreading of the Hindu-Arabic numeral system in Europe</string>
    </array>
</array>
</plist>